<?xml version='1.0' encoding='utf-8'?>
<robot name="model">
  <link name="baseLink">
    <inertial>
       <origin rpy="0 0 0" xyz="0 0 0" />
       <mass value="0.1" />
       <inertia ixx="8e-05" ixy="0" ixz="0" iyy="0.0002" iyz="0" izz="0.0002" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="textured.obj" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="white">
        <color rgba="1. 1. 1. 1." />
      </material>
    </visual>
    <collision>
      <geometry>
    	 	<mesh filename="coacd_collision.obj" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
</robot>